.container {
  min-width: 400px;
  max-width: 750px;
  align-items: center;

    &__section__item {
      width: 120px;
      max-width: 120px;
  }

  @media (min-width: 769px) {
    & {
      width: 50%;
      &__section {
        max-width: 650px;
        width: 100%;
      }
    }
  }
}