.container {
  min-width: 400px;
  max-width: 750px;

  &Icons {
    align-items: center;
  }

  @media (min-width: 769px) {
    & {
      width: 50%;
    }
    &Icons {
      align-items: flex-start;
      max-width: 472px;
    }
  }
}