@import './App';
@import  './variables';

@each $name, $color in $theme-colors {
  .color-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background: $color;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
  .burger-#{$name} {
    background-color: $color;
    &::before,
    &::after{
      background-color: $color;
    }
  }
}

html, body, #__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

* {
  line-height: normal;
  color: unset;
}

.w-100 {
  width: 100%;
}

.bg-frost {
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 200px rgba(#f5f5f5, 0.08);
    filter: blur(10px);
    z-index: -1;
  }
}

.h-100 {
  height: 100%;
}

.link {
  text-decoration: none;
  transition: 0.3s ease all;

  &:hover {
    background: rgba(#f5f5f5, 0.1);
  }

  &:active {
    border-radius: 18px;
    background: linear-gradient(rgba(#f5f5f5, 0.1), rgba(#f5f5f5, 0.2))
  }
}